p {
    white-space: pre-line;

}



.content {
    width: 800px
    background-color: #FFFEFC;
    margin: 0% 20%;
}


.content a {
    background-color: #9ED1E0;
    color: #FFFEFC;
    padding: 5px
}

.content a[href$=jpg],
.content a[href$=png],
.content a[href$=gif],
.content a[href$=mp4],
.content a[href$=mkv],
.content a[href$=webm],
.content a[href$=html] {
	background-color: transparent;
	padding: 0px;
}

.content a[href$=jpg]:after,
.content a[href$=png]:after,
.content a[href$=gif]:after,
.content a[href$=mp4]:after,
.content a[href$=mkv]:after,
.content a[href$=webm]:after,
.content a[href$=html]:after,
.content a[href$=pdf]:after {
	background: #E09192;
	color: #FFFEFC;
	display: inline-block;
	float: right;
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 1.35rem;
	font-weight: 400;
	line-height: 2.4;
	opacity: 0;
	padding: 0 0.75rem;
	position: relative;
	right: -136px;
	top: -64px;
}

.content a[href$=jpg]:after,
.content a[href$=png]:after,
.content a[href$=gif]:after {
	content: "Open image";
}

.content a[href$=mp4]:after,
.content a[href$=mkv]:after,
.content a[href$=webm]:after {
	content: "Open video";
}

.content a[href$=html]:after {
	content: "Open page";
}

.content a[href$=pdf]:after {
	content: "Open document";
}

.content a:hover::after {
	opacity: 1;
}

.content a:hover {
	color: #9ED1E0;
}

.content blockquote {
	border-left: 4px solid #CC653A;
	font-style: italic;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 20px;
}

#content code {
	font-family: Lucida Console, Monaco, monospace;
	font-size: 1rem;
}

.content del {
	color: #D2C9BD;
}

.content h1 {
	background-color: #E09192;
	color: #FFFEFC;
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 2rem;
	font-weight: 400;
	line-height: 1.875;
	margin-bottom: 40px;
	padding: .75rem 1.25rem;
}

.content h2 {
	background-color: #C8BB7A;
	color: #FFFEFC;
	display: inline-block;
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 1.5rem;
	font-weight: 400;
	margin-top: 40px;
	margin-bottom: 10px;
	line-height: 2.4;
	padding: 0 1.25rem;
}

.content h2:first-child {
	margin-top: 0px;
}

.content h3 {
	color: #24374B;
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 24px;
	font-weight: 400;
	line-height: 2.4;
	text-align: center;
}

.content hr {
	background-color: #CAE0E1;
	border: none;
	height: 3px;
	margin-bottom: 40px;
	margin-top: 40px;
}

#content input {
	font-family: Open Sans, Arial, sans-serif;
	font-weight: 700;
}

.content input[type="file"] {
	border: 4px solid #CC653A;
	color: #24374B;
	padding: 10px;
}

.content input[type="password"] {
	border: 4px solid #CC653A;
	color: #24374B;
	padding: 10px;
}

.content input:focus {
	border-color: #F1945F;
}

.content input[type="submit"] {
	background-color: #9ED1E0;
	border: none;
	color: #FFFEFC;
	cursor: pointer;
	padding: 13px;
}

.content input[type="submit"]:hover {
	color: #9ED1E0;
}

.content input:required {
	box-shadow: none;
}

.content img {
	border: 12px solid #F4F9F9;
	margin-bottom: 20px;
	margin-top: 20px;
}

.content p,
.content li {
	color: #24374B;
	font-family: Georgia, serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 2rem;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: justify;
}

.content pre {
	background-color: #24374B;
	color: #FFFEFC;
	font-family: Lucida Console, Monaco, monospace;
	font-size: 1rem;
	line-height: 1.5rem;
	margin-bottom: 40px;
	margin-top: 40px;
	padding: 60px;
}

.content ul {
	list-style-type: none;
}

.content ul li {
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
}

.content ul li:before {
	border-left: 4px solid #CC653A;
	content: "";
	height: 4px;
	left: -20px;
	position: absolute;
	top: 14px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    position: fixed;
    overflow: auto;
    background-color: #f1f1f1;
}

.navbar li { 
    float: right;
}

.navbar li a {
    display: block;
    color: #000;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

.navbar li a.active {
    background-color #4caf50;
    color: white;
}

.navbar li a:hover:not(.active) {
    background-color: #555;
    color: white;
}


.header{
    
    margin-top: 60px;
    background-color: #labc9c;
    text-align: center;

}

.header h2 {
   margin-bottom: 0px; 
}

.header p {
    font-style: italic;
    white-space: pre-line;
    margin-top: 0px;
}   
